[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/plugins/start/vim-markdown-toc"]
	path = pack/plugins/start/vim-markdown-toc
	url = git@github.com:mzlogin/vim-markdown-toc.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = git@github.com:ap/vim-buftabline.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = git@github.com:Yggdroot/LeaderF.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/plugins/start/vim-which-key"]
	path = pack/plugins/start/vim-which-key
	url = git@github.com:liuchengxu/vim-which-key.git
[submodule "pack/plugins/start/tokyonight-vim"]
	path = pack/plugins/start/tokyonight-vim
	url = git@github.com:ghifarit53/tokyonight-vim.git
